.header
{
	background-color: #128870;
	color: white;
	padding: 20px;
	margin: 0px;
	font-family: Verdana;
	position:  sticky;
	overflow: hidden;
}


h1, h2
{
    font-family: 'Arial';
	color: black;
}

.menu
{
	min-width: 50px;
	font-size: 199px;
	float: right;
}

.logo
{
	float: left;
	width: 90px;
}

.user
{

}

